.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.account-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-1 {
    margin-bottom: 40px;

    &-title-tag {
      font-size: $font-XXL;
      font-family: 'Custom-Font-Titles';
    }

    &-informations {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-2 {
    margin-bottom: 40px;
  }

  &-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
