.account-container {
}

.account-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-1 {
    margin-bottom: 40px;

    &-title-tag {
      font-size: $font-XXL;
      // font-family: 'Custom-Font-Titles';
    }

    &-informations {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-2 {
    margin-bottom: 40px;
    
    &-title-tag {
      font-size: $font-XXL;
      // font-family: 'Custom-Font-Titles';
    }
  }

  &-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;

    &-title-tag {
      font-size: $font-XXL;
      // font-family: 'Custom-Font-Titles';
    }
    &-inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      input {
        margin-bottom: 10px;
      }
    }
    &-information-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      img {
        max-width: 200px;
      }
    }
  }
}
