.account-container {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
}

.account-information-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;

  &__box {
    box-sizing: border-box;
    min-height: 300px;
    min-width: 300px;
    background: $white;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 15px 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-1 {

    &-title-tag {
      font-size: $font-XXL;
    }

    &-informations {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-2 {

    &-title-tag {
      font-size: $font-XXL;
    }
  }

  &-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-title-tag {
      font-size: $font-XXL;
    }
    &-inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      input[type=file] {
        margin-bottom: 10px;
        border: none;
      }
    }
    &__img-container {
      margin-right: 10px;
    }
    &-information-container {
      display: flex;
      img {
        max-width: 100px;
      }
    }
  }

  &-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-title-tag {
      font-size: $font-XXL;
      // font-family: 'Custom-Font-Titles';
    }
    &-inputs-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      input[type=file] {
        margin-bottom: 10px;
        border: none;
      }
    }
    &__img-container {
      margin-right: 10px;
    }
    &-information-container {
      display: flex;
      // justify-content: center;
      // flex-direction: column;
      img {
        max-width: 100px;
      }
    }
  }
}


@media only screen and (max-width: 700px) {

  .account-container {
    width: 90%;
  }

  .account-information-container {
    grid-template-columns: 1fr;

    &__box {
      min-height: 200px;
      border-radius: 5px;
    }

    &-1 {
      &-title-tag {
        font-size: $font-XL;
      }
    }
    &-2 {
      &-title-tag {
        font-size: $font-XL;
      }
    }
    &-3 {
      &-title-tag {
        font-size: $font-XL;
      }
      &-information-container {
        flex-direction: column;
        justify-content: center;
        img {
          max-width: 50px;
        }
      }
    }
    &-4 {
      &-title-tag {
        font-size: $font-XL;
      }
    }
  }
}