// artworks
.artwork-summary-container {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: start;
  // justify-content: center;
  background: $white;
  border: $light-grey-border;

  &-img {
    max-height: 170px;
    &-img {
      width: 100%;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    margin: 0px 20px;
    width: 50%;
    &-title {
      font-size: $font-XL;
      font-family: 'Custom-Font-Titles';
      margin-bottom: 10px;
    }

    &-description {
      font-size: $font-M;
      line-height: $font-XXL;
    }
  }
}

.artwork-items-container {
}
.artwork-items {
  display: flex;
  margin-bottom: 20px;

  &-title {
    background: $white;
    // margin-bottom: 20px;
    padding: 0px 20px;
    border: $light-grey-border;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
