.homepage-wrapper {
  margin: 40px 0 40px 0;
}
.homepage-container {
}
.homepage-group {
  margin: 0 0 40px 0;
  
  &--1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    &__title-container {
      font-family: 'Custom-Font-Title';
      &--1 {
        font-size: $font-XXXXXXXXXXXL;
        line-height: 12rem;
        transform: rotate(-1deg);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 40px 0 0 100px;
        margin: 0 0 0 -20px;
        color: white;
        text-shadow: 10px 10px $blue-dark-4;
        background: $blue-dark-1;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
      }
      &--2 {
        font-size: $font-XXXXXXXXXXXXL;
        line-height: 12rem;
        transform: rotate(0.55deg);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: -70px 0 0 0;
        padding: 100px 100px 0 0;
        color: $blue-light-3;
        text-shadow: 10px 10px $blue-dark-1;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
        background: $blue-dark-4;
      }
      &--3 {
        font-size: $font-XXXXXXXXXL;
        line-height: 12rem;
        // transform: rotate(-0.5deg);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0 0 100px;
        margin: -20px 0 0 -20px;
        color: $blue-dark-4;
        text-shadow: 10px 10px $blue-light-1;
        background: $blue-light-5;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &--2 {
    display: flex;
    align-items: center;
    justify-content: center;

    &__1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__image {
        font-size: 14rem;
      }
    }
    &__2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}