.homepage-wrapper {
  margin: 40px 0 40px 0;
}
.homepage-container {
}
.homepage-group {
  margin: 0 0 40px 0;
  min-height: 500px;

  &--1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__title-container {
      font-family: 'Custom-Font-Title';
      &--1 {
        font-size: $font-XXXXXXXXXXXL;
        line-height: 12rem;
        transform: rotate(-1deg);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0 0 100px;
        margin: 0 0 0 -20px;
        color: white;
        text-shadow: 10px 10px $blue-dark-4;
        background: $blue-dark-1;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
      }
      &--2 {
        font-size: $font-XXXXXXXXXXXXL;
        line-height: 12rem;
        transform: rotate(0.7deg);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: -70px 0 0 0;
        padding: 100px 100px 0 0;
        color: $blue-light-3;
        text-shadow: 10px 10px $blue-dark-1;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
        background: $blue-dark-4;
      }
      &--3 {
        font-size: $font-XXXXXXXXXL;
        line-height: 12rem;
        // transform: rotate(-0.5deg);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px 0 0 100px;
        margin: -20px 0 0 -20px;
        color: $blue-dark-3;
        text-shadow: 5px 5px $blue-light-3;
        background: $blue-light-5;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &--2 {
    display: flex;
    align-items: center;
    justify-content: center;

    &__1 {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &__1 {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__img {
          border-radius: 5px;
        }
      }
      &__2 {
        flex: 1;

        &__common {
          margin-bottom: 20px;
        }
        &__common:last-child {
          margin-bottom: 0px;
        }

        &__title {
          font-size: $font-XXL;
          margin-left: 0;
        }
        &__subtitle {
          font-size: $font-L;
          margin-left: 0;
        }
        &__description {
          font-size: $font-L;
        }
        &__button {
          width: 200px;
          border-radius: 5px;
          background: $blue-dark-4;
          color: $white;
          padding: 10px 15px;
        }
        &__button:hover {
          color: $white;
        } 
      }
    }
    &__2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}


// LAPTOP

@media only screen and (max-width: 1700px) {

  .homepage-group {
    min-height: 400px;
  
    &--1 {
  
      &__title-container {
        &--1 {
          font-size: $font-XXXXXXXL;
          line-height: 8rem;
          text-shadow: 5px 5px $blue-dark-4;
        }
        &--2 {
          font-size: $font-XXXXXXXXL;
          line-height: 8rem;
          text-shadow: 5px 5px $blue-dark-1;
        }
        &--3 {
          font-size: $font-XXXXXL;
          line-height: 8rem;
          text-shadow: 5px 5px $blue-light-3;
        }
      }
    }
    
  }
  
}

// TABLET

@media only screen and (max-width: 1300px) {

  .homepage-group {
    min-height: 400px;
  
    &--1 {
  
      &__title-container {
        &--1 {
          font-size: $font-XXXXXL;
          line-height: 6rem;
          text-shadow: 5px 5px $blue-dark-4;
        }
        &--2 {
          font-size: $font-XXXXXXL;
          line-height: 6rem;
          text-shadow: 5px 5px $blue-dark-1;
        }
        &--3 {
          font-size: $font-XXXXL;
          line-height: 6rem;
          text-shadow: 5px 5px $blue-light-3;
        }
      }
    }
    
  }
  
}

// MOBILE XL

@media only screen and (max-width: 1000px) {

  .homepage-group {
    min-height: 400px;
  
    &--1 {
  
      &__title-container {
        &--1 {
          font-size: $font-XXXXL;
          line-height: 6rem;
          text-shadow: 3px 3px $blue-dark-4;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        }
        &--2 {
          font-size: $font-XXXXL;
          line-height: 6rem;
          text-shadow: 3px 3px $blue-dark-1;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        }
        &--3 {
          font-size: $font-XXXXL;
          line-height: 6rem;
          text-shadow: 5px 5px $blue-light-3;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        }
      }
    }
    
  }
  
}

@media only screen and (max-width: 600px) {

  .homepage-group {
    min-height: 300px;
  
    &--1 {
  
      &__title-container {
        &--1 {
          font-size: $font-XXL;
          line-height: 3rem;
          text-shadow: 3px 3px $blue-dark-4;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
          padding: 10px 0 0 40px;
        }
        &--2 {
          font-size: $font-XXL;
          line-height: 3rem;
          text-shadow: 3px 3px $blue-dark-1;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
          padding: 20px 20px 0 20px;
          margin: -10px 0 0 0;
        }
        &--3 {
          font-size: $font-XL;
          line-height: 3rem;
          text-shadow: 5px 5px $blue-light-3;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
          padding: 20px 0 0 20px;
          margin: -20px 0 0 0;
        }
      }
    }
    
  }
  
}

.homepage-typewriter-wrapper {font-family: 'Custom-Font-Title';}