.portfolio2 {
  
  &__wrapper {

    height: 100%;
    width: 100%;

  }

  &__container {

    background: $light-grey;
    border: 10px solid $grey;
    color: $black;
    border-radius: 20px;

    box-sizing: border-box;

    display: flex;
    padding: 50px;

    align-items: flex-start;
    justify-content: center;

  }

  &__group {


    &--1 {

      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      
      &__img {
        border-radius: 5px;
      }


    }

    &--2 {

      padding: 0 30px;
      max-width: 50%;

      &__title {
        margin: 0 0 20px 0;
        font-family: 'Custom-Font-Title';
        color: $black;
        font-size: $font-XXXL;
      }

      &__subtitle {
        font-family: 'Custom-Font-Title';
        color: $dark-grey;
        font-size: $font-XL;
        line-height: $font-XXXL;
      }

      &__description {
        font-size: $font-XL;
        line-height: $font-XXXL;
        margin: 0 0 20px 20px;
      }

      &__button-container {

        &__btn {
          width: auto;
          font-size: $font-XXL;
          border-radius: 10px;
          padding: 20px;
          background: $blue-dark-4;
          box-shadow: 5px 5px rgba(0,0,0,0.1);
          color: white;
        }
        &__btn-header {
          width: 200px;
          color: $white;
          background: $blue-dark-4; 
          padding: 10px;
          border-radius: 8px;
        }
      }

    }

  }

}