.post-container {
  background: $white;
  margin: 0 0 20px 0;
  padding: 20px;
  border-radius: 3px;
}
.posts-form-container {
  padding: 10px;
  border: $light-thick-grey-border;
  width: 50%;
  margin: 20px 0;
}
.posts-editable-html {
  height: 200px;
}
.post-container-data-cell {

  &-container {
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 10px;
    }
  }
  &-label {
  }
  &-value {
    margin-bottom: 10px;

    &--title {
      font-family: 'force-shadow';
      font-size: $font-XL;
    }

    &--description {
      font-size: $font-M;
    }

    &--see-more {

    }

    &--image {
    }
  }
}

.post-container-buttons-group {
  display: flex;
}

.posts-output-wrapper {
  padding: 10px 10px;
  border: $light-grey-border;
  border-radius: 3px;
  display: none;
  margin-bottom: 20px;
}
.posts-output-container {
  
}

.posts-output-wrapper.is-open {
  display: block;
}


.posts-form-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  height: 40px;
}

.posts-form-input-container-input-label {
  background: $white;
    padding: 0 5px;
    border-radius: 5px;
    position: absolute;
    top: -18px;
    left: 12px;
}
.posts-form-input-container-input {
  border-radius: 5px;
  border: none;
  flex: 1;
  height: 100%;
  padding: 5px 15px;
}
.posts-form-input-container-input {
  border-radius: 5px;
  border: none;
  flex: 1;
  height: 100%;
  padding: 5px 15px;
  &--textarea {
    height: 200px;
  }
}
