.post-container {
  background: $black;
  color: $white;

  margin: 0 0 10px 0;
  padding: 10px;
}
.posts-form-container {
  // border: $light-thick-grey-border;
  padding: 10px;
  margin: 20px 0;
}
.posts-editable-html {
  height: 200px;
}
.post-container-data-cell {
  &-container {
    flex: 1;
    &-info {
      display: flex;
      align-items: center;
      // padding: 10px 10px;
    }
    &--title {
      padding-left: 10px;
      flex: 2;
    }

    &--description {
      flex: 3;
    }

    &--date {
      flex: 1;
    }

    &--see-more {
      flex: 1;
    }
  }
  &-label {
  }
  &-value {
    // margin-bottom: 10px;

    &--title {
      font-family: 'Custom-Font-Titles';
      font-size: $font-XL;
    }

    &--description {
      font-size: $font-S;
    }

    &--date {
      font-size: $font-M;
      display: flex;
      justify-content: flex-end;
    }

    &--see-more {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.post-container-buttons-group {
  display: flex;
}

.posts-output-wrapper {
  border: $light-grey-border;
  display: none;
  // transition: .5s;
  // visibility: hidden;
  // opacity: 0;
  // height: 0px;
}

.posts-output-wrapper.is-open {
  display: block;
  margin-top: 10px;
  // visibility: visible;
  // opacity: 1;
  // height: 100%;
}

.posts-output-container {
  padding: 10px;
}

.posts-form-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  height: 40px;
}

.posts-form-input-container-input-label {
  background: $black;
  padding: 0 5px;
  position: absolute;
  top: -18px;
  left: 12px;
}
.posts-form-input-container-input {
  background: $black;
  color: $white;
  border: 1px solid rgba(255, 255, 255, 0.2);

  border: none;
  flex: 1;
  height: 100%;
  padding: 5px 15px;
}
.posts-form-input-container-input {
  border: none;
  flex: 1;
  height: 100%;
  padding: 5px 15px;
  &--textarea {
    height: 200px;
  }
}
.posts-page-description-container {
  font-size: $font-L;
  line-height: 2rem;
  margin: 20px auto;
  // text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.posts-page-description-title {
  font-size: $font-XL;
}

.post-container-data-cell-container-info-header {
  display: flex;
  align-items: center;
}
