.post-container {
  background: $white;
  margin: 0 0 20px 0;
  padding: 20px;
}
.posts-form-container {
  width: 50%;
}
.posts-form-input-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}
.posts-editable-html {
  height: 200px;
}
.post-container-data-cell {
  &-container {
    &-info {
      background: rgba(90,0,0,0.1);
    }
  }
  &-label {
    
  }
  &-value {

    &--title {

      font-family: 'force-shadow';
      font-size: $font-XL;
      
    }

    &--description {

      font-size: $font-M;
      
    }
   
    &--image {

    }
  }
}

.post-container-buttons-group {
  display: flex;
}
.posts-output-container {
  margin: 40px 0;
}