@import './vars/variables.scss';
@import './features/header.scss';
@import './features/profile.scss';
@import './features/breadcrumb.scss';
@import './features/footer.scss';
@import './features/carousel.scss';
@import './features/button.scss';
@import './features/menu.scss';
@import './pages/artworks.scss';
@import './pages/expenses.scss';
@import './pages/account.scss';
@import './pages/portfolio.scss';
@import './pages/portfolio2.scss';
@import './pages/music-card.scss';
@import './pages/posts.scss';
@import './pages/homepage.scss';

@font-face {
  font-family: 'Custom-Font-Title';
  src: url('../../fonts/Custom-Font-Title/Heavitas.ttf') format('truetype'),
    /* 
  Safari, Android, iOS */
      url('../../fonts/Custom-Font-Title/Heavitas.ttf') format('ttf'); /* Modern 
  Browsers */
}

@font-face {
  font-family: 'Niveau Grotesk';
  src: url('../../fonts/NiveauGrotesk/NiveauGroteskRegular.woff')
      format('truetype'),
    /* 
  Safari, Android, iOS */
      url('../../fonts/NiveauGrotesk/NiveauGroteskRegular.woff') format('woff'); /* Modern
  Browsers */
}

* {
  box-sizing: 'border-box';
  font-family: 'Niveau Grotesk';
}
.custom-font-title {
  font-family: 'Custom-Font-Title';
}

body {
  color: $black;
  background-image: url(../../images/svg/bg05.svg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  // background: url(../../images/patterns/bg-pattern.svg);
  overflow-y: scroll; // prevent page to move when vertical scrollbar appears
}

// application
.page-wrapper {
  background-size: 100px;
}
.page-container {
  max-width: $page-width;
  margin: 0 auto;
}

.content-editable-summary__button-container {
  width: 100%;
  // height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // margin-bottom: 40px;
}

// spinner
.spinner-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100px;

  &__homepage {
    min-height: 500px;

    .loader.loader--style2 {
      // transform: scale(4);
    }
  }
}

// mobile
.mobile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
// error page 404
.error-page-wrapper {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
// login

.login-container,
.register-container {
  position: relative;
  width: 100%;
  height: auto;
}

.custom-modal {

  &-container {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    background: $white;
    color: $black;
    border: 1px solid grey;

    height: 200px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 105;
    width: 500px;
    top: 18px;
    left: 0;
  }
  &-overlay {
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500vw;
    height: 500vh;
    cursor: pointer;
    background: $light-grey-seethrough;

    display: none;
  }

  &-form {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &-box {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-label {
        padding: 0 10px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &-input {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-input {
          background: $light-grey;
          color: $black;
          border: none;
          font-size: $font-L;

          height: 100%;
          padding: 0 20px;
          width: 100%;
        }
      }
    }
    &-error-box {
      margin-top: 20px;
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;

      &-error {
        margin-top: 3px;
        color: $red;
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 100%;
    max-height: 60px;
  }
}

.whatsapp_widget_icon {
  border-radius: none;
  border: none;
  box-shadow: none;
}

#sticky-container-child > div.homepage-group--3__item-container.homepage-group--3__item-container--3 > div > div.marquee-container > div:nth-child(2) > svg {
  height: 200px; 
  width: 200px;
  margin-right: 100px;
}

@media only screen and (max-width: 2200px) {

  #sticky-container-child > div.homepage-group--3__item-container.homepage-group--3__item-container--3 > div > div.marquee-container > div:nth-child(2) > svg {
    height: 150px;
    width: 150px;
    margin-right: 100px;
  }

}
@media only screen and (max-width: 1700px) {
  #sticky-container-child > div.homepage-group--3__item-container.homepage-group--3__item-container--3 > div > div.marquee-container > div:nth-child(2) > svg {
    height: 100px;
    width: 100px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 700px) {
  #sticky-container-child > div.homepage-group--3__item-container.homepage-group--3__item-container--3 > div > div.marquee-container > div:nth-child(2) > svg {
    height: 50px;
    width: 50px;
    margin-right: 25px;
  }
  .custom-modal {

    &-wrapper {
      position: relative;
    }

    &-container {
      box-shadow: none;
      background: $white;
      color: $black;
      border: none;
      // border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      box-shadow: 0px 10px rgba(0, 0, 0, 0.1);
  
      height: unset;
      width: unset;
      max-width: unset;
      position: unset;
      left: unset;
      top: 0px;
      transform: unset;
      display: unset;
      flex-direction: unset;
      z-index: 105;
      padding: unset;
      margin: 0;

      position: relative;
    }

    &-overlay {

      display: none;
    }

    &-form {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // height: 100%;
  
      &-box {
        // display: flex;
        // flex-direction: column;
        width: 100%;
  
        &-label {
          // padding: 0 10px;
          // height: 40px;
          // display: flex;
          // align-items: center;
          // justify-content: flex-start;
        }
  
        &-input {
          // height: 40px;
          // display: flex;
          // align-items: center;
          // justify-content: center;
  
          &-input {
            background: $white;
            border: 2px solid $light-grey;
            border-radius: 5px;
            // border: none;
            // font-size: $font-L;
  
            // height: 100%;
            // padding: 0 20px;
            // width: 100%;
          }
        }
      }
      &-error-box {
        // margin-top: 20px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
  
        &-error {
          // margin-top: 3px;
          // color: $red;
        }
      }
    }
  
    &-buttons {
      margin-top: 0;
      align-items: center;
      min-height: 60px;
      // display: flex;
      // align-items: end;
      // justify-content: space-between;
      // height: 100%;
      // max-height: 60px;
    }
  }

  #sticky-container-child > div.homepage-group--3__item-container.homepage-group--3__item-container--3 > div > div.marquee-container .overlay {
    &::before {
      --gradient-width: 75px;
    }
    &::after {
      --gradient-width: 75px;
    }
  }

}