@import './vars/variables.scss';
@import './features/header.scss';
@import './features/profile.scss';
@import './features/breadcrumb.scss';
@import './features/footer.scss';
@import './features/carousel.scss';
@import './features/button.scss';
@import './features/menu.scss';
@import './pages/artworks.scss';
@import './pages/expenses.scss';
@import './pages/account.scss';
@import './pages/portfolio.scss';
@import './pages/posts.scss';

@font-face {
  font-family: 'Force-Shadow';
  src: url('../../fonts/ForceShadow/font.woff')
      format('truetype'),
    /* 
  Safari, Android, iOS */
      url('../../fonts/ForceShadow/font.woff') format('woff'); /* Modern 
  Browsers */
}

@font-face {
  font-family: 'Niveau Grotesk';
  src: url('../../fonts/NiveauGrotesk/NiveauGroteskRegular.woff')
      format('truetype'),
    /* 
  Safari, Android, iOS */
      url('../../fonts/NiveauGrotesk/NiveauGroteskRegular.woff') format('woff'); /* Modern 
  Browsers */
}

* {
  box-sizing: 'border-box';
  font-family: 'Niveau Grotesk';
}
.force-shadow {
  font-family: 'Force-Shadow';
}

body {
  background: $dark-white;
  background-image: url(../../images/svg/bg.svg);
  background-attachment: fixed;
  background-position: fixed;
  background-size: cover;
  color: $black;
  overflow-y: scroll; // prevent page to move when vertical scrollbar appears
}

// application
.page-wrapper {
  background-size: 100px;
  height: 100vh;
}
.page-container {
  max-width: $page-width;
  margin: 0 auto;
  padding-bottom: 100px;
}

.content-editable-summary__button-container {
  width: 100%;
  // height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // margin-bottom: 40px;
}

// home
.homepage-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-text-container-title {
  font-size: $font-XXXL;
  font-family: 'Force-Shadow';
  padding: 20px;
  border-radius: 5px;
  border: $light-thick-grey-border;
  background: $white;
}

// spinner
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
// mobile
.mobile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
// error page 404
.error-page-wrapper {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
// login

.custom-modal-container {
  height: 200px;
  width: 33.33%;
  max-width: 500px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  padding: 20px;
  border: $light-thick-grey-border;
  display: flex;
  flex-direction: column;
}

.custom-modal {
  &-form {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &-box {
      display: flex;
      flex-direction: column;
      width: 50%;

      &-label {
        padding: 0 10px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &-input {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-input {
          height: 100%;
          padding: 0 20px;
          width: 100%;
          border: $light-grey-border;
        }
      }
    }
    &-error-box {
      margin-top: 20px;
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;

      &-error {
        margin-top: 3px;
        color: $pale-red;
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 100%;
    max-height: 60px;
  }
}


// wip box

.wip-box-container {
  padding: 20px;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 3px;
  background: $white;
  position: absolute;
  z-index: 999;
  top: 50px;
  left: 0;
}
.wip-box-title {
  padding: 0;
  margin: 0 0 10px 0;
}
.wip-box-ul {
  padding: 0;
  margin: 0;
}
.wip-box-li {
  padding: 0 0 0 0;
  margin: 0 0 0 20px;
}
.wip-box-p {
  font-size: $font-S;
  padding: 0;
  margin: 0;
}