// SIZES
$page-width: 1300px;
// COLORS
$black: #333;
$white: rgba(255, 255, 255, 0.85);

$seethrough-white: rgba(255, 255, 255, 0.85);
$seethrough-black: rgba(0, 0, 0, 0.75);

$grey: #9e9e9e;
$dark-white: rgb(240, 240, 240);
$light-grey-seethrough: rgba(0, 0, 0, 0.2);
$pale-red: #c37070;
$pale-blue: #7caad8;
$pale-green: #69b977;
$pale-yellow: #fae524;
// BORDERS
$light-grey-border: 1px solid $light-grey-seethrough;
$light-thick-grey-border: 2px solid $light-grey-seethrough;
$thick-black-border: 2px solid $black;
$thick-000-border: 2px solid #000;
$black-border: 1px solid $black;

// FONTS
$font-S: 0.8rem;
$font-M: 1rem;
$font-L: 1.2rem;
$font-XL: 1.4rem;
$font-XXL: 2rem;
$font-XXXL: 3rem;
$font-XXXXL: 4rem;
$font-XXXXXL: 5rem;
