// button
.btn {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: $font-XL;
  border-radius: 10px;

  &--w100 {
    max-width: 100px;
    min-width: 100px;
  }

  &--w150 {
    max-width: 150px;
    min-width: 150px;
  }
  &__danger-button {
    padding: 8px 10px;
    width: 100%;
    max-width: 150px;
    font-size: $font-XL;
    
    background: $red;
    color: $white;
  }
  &__default {
    padding: 8px 10px;
    width: 100%;
    max-width: 150px;
    font-size: $font-XL;
    background: $blue-dark-4;
    color: $white;
  }
}

.btn:hover {
  color: $white;
  font-weight: 900;
  transform: scale(1.05);
}

@media only screen and (max-width: 1700px) {
  .btn {
    font-size: $font-L;
  }
}
