.carousel-wrapper {
  position: relative;
  display: flex;
  width: 820px;
  margin: 0 auto;
}
.carousel-items-viewable {
  position: relative;
  height: 200px;
  width: 620px;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-items-container {
  transition: 0.25s;
  position: absolute;
  top: 0;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}
.carousel-item-cell {
  &--box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .5s;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    border: $light-thick-grey-border;
    background: $seethrough-white;
    box-sizing: border-box;


    margin-right: 10px;

    &--no-gap {
      margin-right: 0;
    }

    &--content {
      margin-top: 20px;
      height: 100%;
      width: 160px;  
    }

  }
  &--box:last-child {
    margin-right: 0px;
  }
  &--box:hover {
    transform: scale(.95);
    background: $white;
  }
  &--title {
    margin-bottom: 10px;
    // font-family: 'force-shadow';
    font-size: $font-XL;
  }
  &--description {
    font-size: $font-M;
  }
  &-arrow {
    position: absolute;
    font-size: $font-XXL;
    cursor: pointer;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: $light-thick-grey-border;
    // background: $seethrough-white;
    border-radius: 3px;

    &--left {
      left: 0;
      padding: 20px;
      transform: translateY(-50%);
      top: 50%;
    }

    &--right {
      right: 0;
      padding: 20px;
      transform: translateY(-50%);
      top: 50%;
    }
  }
}