.carousel-item-cell {
  &--box {
    transition: .5s;
    width: 200px;
    height: 200px;
    background: $white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--box:hover {
    transform: scale(.95);
  }
  &--title {
    font-family: 'force-shadow';
    font-size: $font-XL;
  }
  &--description {
    font-size: $font-M;
  }
}