// footer
.footer-container {
  // background: $black;
  // background-position: center;
  // background-size: cover;
  // background: $true-black;
  background-image: url(../../images/svg/footer.svg);
  color: $white;
  width: $page-width;
  box-sizing: border-box;
  box-shadow: 0 -10px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
  font-size: $font-XL;
  &__social-icons {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;
    }
    &-title {
      margin-bottom: 20px;
    }

    &-icons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;
    }
    &-icon {
      width: 100px;
      height: 100px;
      cursor: pointer;
      margin-right: 20px;
      transition: .2s;
    }
    &-icon:hover {
      transform: scale(1.2);
    }
    &-icon:last-child {
      margin-right: 0;
    }
  }
  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    
    &__img {
      border: 5px solid #acacac;
      max-height: 200px; 
      border-radius: 100%;
    }
    
    &__title {
      margin-bottom: 10px;
    }
    
    &__info {
    }
  }
}

@media only screen and (max-width: 1700px) {
  .footer-content {
    font-size: $font-L;
  }
}

@media only screen and (max-width: 700px) {
  .footer-container {
    padding: 5vh 0;
  }
  .footer-content__social-icons-icon__linkedin {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 90px;
      width: 90px;
    }
  }
  .footer-content {
    display: flex;
    flex-direction: column;

    &__info-container {
      margin-bottom: 5vh;

      &__img {
        border: 5px solid #acacac;
        max-height: 120px; 
        border-radius: 100%;
      }
    }

    &__info-container:last-child {
      margin-bottom: 0px;
    }
  }
}
