$footer-height: 40px;

// footer
.footer-container {
  background: $white;
  color: $black;
  width: $page-width;
  font-size: $font-M;

  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;

  &-hidden-twin {
  }
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: $footer-height;
  padding: 0px 20px;
  &-textual {
  }
}
