// footer
.footer-container {
  background: $black;
  color: $white;
  width: $page-width;
  box-sizing: border-box;
  box-shadow: 0 -10px rgba(0,0,0,0.1);
  height: 100%;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0px 20px;
  font-size: $font-XL;
  &__social-icons {

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;

    }
    &-title{
      margin-bottom: 10px;
    }

    &-icons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;
    }
    &-icon {
      width: 50px;
      height: 50px;
      cursor: pointer;
      margin-right: 15px;
    }
    &-icon:last-child {
      margin-right: 0;
    }

  }
  &__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    &__title {
      margin-bottom: 10px;
    }
    &__info {

    }
  }
}

@media only screen and (max-width: 1700px) {
  .footer-content {
    height: 200px;
    font-size: $font-L;
  }
}