$header-height: 60px;

.header-container {
  transition: 0.3s;
  background: #161616;
  color: $white;
  // background: $black;
  // border: $thick-black-border;

  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  max-width: $page-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 20px;
  margin-bottom: 20px;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &-hidden-twin {
    height: calc($header-height + 20px);
  }
}

.header-logo {
  // code..

  &-space-1 {
    display: flex;

    &-2 {
      &-logo {
        font-size: $font-XXL;
        margin-right: 10px;
      }

      &-inner {
      }

      &-textual {
        display: flex;
        align-items: center;
        font-size: $font-M;

        &-box {
          &-title {
            // code..
          }
          &-subtitle {
            // code..
          }
        }
      }
    }
  }
}

.header-user {
  // code..

  &-space-1 {
    display: flex;

    &--logo {
      cursor: pointer;
    }
  }

  &-space-2 {
    // code..

    &-profile-container {
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-buttons-container {
      display: flex;
    }
  }
}

.logo-font {
  transition: 0.3s;
}

.logo-font:hover {
  transform: scale(0.98);
}
