.header-container {
  transition: 0.3s;
  background: $true-black;
  color: $white;

  font-size: $font-XL;

  position: fixed;
  z-index: 900;
  width: 100%;
  box-sizing: border-box;
  max-width: $page-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 2.5vw 0 2.5vw;
  // margin-bottom: 20px;

  &-hidden-twin {
    height: $header-height;
  }
}

.header-user-space {
  &--1 {
    flex: 2;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    &__logo {
      padding: 0;
      margin: 0;
      font-size: $font-XL;

      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
    }
  }
  &--2 {
    flex: 12;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    &__container {
      display: flex;
      justify-content: flex-end;

      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &__item {
        margin-left: 10px;
        flex-basis: 100px;
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .header-container {
    font-size: $font-L;
  }
}

@media only screen and (max-width: 700px) {
  .header-container {
    font-size: $font-M;
    padding: 0px 5vw;
    height: 60px;
    &-hidden-twin {
      height: 60px;
    }
  }

  .header-user-space {
    &--1 {
      flex: 2;
      align-items: center;
      height: 100%;
  
      &__logo {
        justify-content: flex-start;
        font-size: $font-M;
      }
    }
    &--2 {
      display: none;
    }
    &__burger-container {
      display: block;
    }
  }
}
