$header-height: 80px;

.header-container {

  transition: 0.3s;
  background: $white;
  color: $black;
  // border-bottom: $thick-black-border;

  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
  max-width: $page-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding: 0 2.5vw 0 2.5vw;
  margin-bottom: 20px;

  &-hidden-twin {
    height: calc($header-height + 20px);
  }
}

.header-user-space {
  &--1 {

  }
  &--2 {

    &__container {
      display: flex;
      align-items: center;
      background: rgba(255, 0, 12, 0.1);
    }

  }
}