.menu-item-clickable {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  height: 40px;
  border: none;
  font-size: $font-L;
  &--disabled {
    color: rgba(0, 0, 0, 0.1);
  }
}
.menu-item-clickable:hover {
  background: $light-grey-seethrough;
}

.menu-items-container {

  z-index: 105;
  position: absolute;
  top: 85px;
  width: 190px;
}

.menu-overlay {
  z-index: 100;
  position: absolute;
  top: -2000;
  left: -2000;
  transition: 0.5s;
  // background: $light-grey-seethrough;
  width: 500%;
  height: 500vh;
  cursor: pointer;
}
.menu-overlay:hover {
  // background: rgba(0,0,0,0.2);
  // box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.2);
}
