.profile {
  // code..

  &-container {
    
    width: 100%;
  }

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;

    &-textual {
      margin-right: 10px;
    }

    &-logo {
      height: 30px;

      &-img {
        height: 100%;
        border-radius: 5px;
      }
    }
  }
}
